.app-container {
  background: radial-gradient(circle at center, #1a1c25 0%, #0a0b10 100%);
}

button {
  all: unset;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.scanning-line {
  height: 2px;
  background: var(--primary);
  box-shadow: 0 0 15px var(--primary);
  width: 100%;
  position: absolute;
  animation: scan 4s linear infinite;
}

@keyframes scan {
  from {
    top: 0;
  }

  to {
    top: 100%;
  }
}

.hud-container {
  font-family: 'Inter', monospace;
  text-transform: uppercase;
}