.app-container {
  background: var(--bg);
}

button {
  all: unset;
}

.scanning {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

.hud-container {
  font-family: 'Space Grotesk', sans-serif;
}

.loading {
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}